name: Vitest Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  vitest:
    name: 'Vitest Tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Install dependencies
        run: npm install -g pnpm && pnpm install
      - name: Run Vitest
        run: pnpm test:unit